<?xml version="1.0" encoding = "utf-8"?>
<Context>
<Resource
name="jdbc/shoppingmall"
auth="Container"
type="javax.sql.DataSource"
driverClassName="com.mysql.jdbc.Driver"
url="jdbc:mysql://localhost:3306/shoppingmall?serverTimezone=UTC"
username = "root"
password = "1111"
maxTotal = "16"
maxidle="4"
maxWaitMillis="-1"
/>
</Context>
