@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #fff;
}

th {
    background-color: #666;
}

tr:nth-child(even) {
    background-color: #555;
}

tr:nth-child(odd) {
    background-color: #444;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

p {
    color: #fff;
}

/* Additional styles for specific elements */
#header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#checkout-btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #333;
}