@charset "UTF-8";
    
.text{
	width: 400px;
	height: 50px;
	font-size: 40px;
}

.passbox{
	width: 392px;
	height: 50px;
	font-size: 20px;
}

.ckbox{
	width: 400px;
	height: 50px;
	font-size: 20px;
	margin-top: 20px;
}